<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/create-appointment"
            >Book Appointment</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="docdash">Back</a>
        </li>
      </ul>

      <app-search-apointment
        (results)="updateList($event)"
      ></app-search-apointment>
    </div>
  </div>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>age</th>
      <th>symtomps</th>
      <th>number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Appointnments of appointnments">
      <td>{{ Appointnments.appointmentId }}</td>
      <td>{{ Appointnments.name }}</td>
      <td>{{ Appointnments.age }}</td>
      <td>{{ Appointnments.symtomps }}</td>
      <td>{{ Appointnments.number }}</td>
      <td>
        <button
          (click)="delete(Appointnments.appointmentId)"
          class="btn btn-denger"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
